.carousel {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 1s;
  opacity: 0;
}

.carousel img.active {
  opacity: 1;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}
